.App {
  text-align: center;
}

a, a:visited {
  color: blue;
}

.app{
  max-width: 700px;
  margin: auto;
}

.form{
  margin-left: 15px;
}

.probability{
  text-align: center;
}

.bigger { 
  font-size: 200%; 
}

.title{
  text-align: center;
  width: 100%;
}

.column{
  float: left;
}

.row{
  margin-left: 15px;
  display: inline;
}

.left{
  width: 70%;
}

.right{
  width: 30%;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.footer{
  width: 100%;
  color: black;
  max-height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  text-decoration: underline;
}

.about{
  max-width: 700px;
  margin: auto;
}

@media only screen and (max-width: 700px) {
  .column{
    width: 100%;
  }

  .content{
    margin-left: 15px;
    margin-right: 15px;
  }

  .about{
    margin-left: 15px;
    margin-right: 15px;
  }
}
