.App {
  text-align: center;
}

.form{
  margin-left: 15px;
}

.probability{
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.bigger { 
  font-size: 200%; 
}

.title{
  text-align: center;
  width: 100%;
}

.column{
  float: left;
}

.left{
  width: 70%;
}

.right{
  width: 30%;
}

.footer{
  width: 100%;
  color: black;
  max-height: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
  text-decoration: underline;
}

.about{
  margin-left: 15px;
}
